RewriteEngine On
RewriteBase /member/

# Umleitung aller Anfragen zu controller.php, ausgenommen die Datei selbst
RewriteCond %{REQUEST_URI} !^/member/controller\.php$
RewriteRule ^(.*)$ controller.php?path=$1 [QSA,L]
