
:root {
    --primary: #003366;
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #003366;
    --danger-color: #ff3f3f;
    --danger-color-background: rgba(255, 63, 63, 0.305);
    --background-color-grey: #ededed;
    --nav-bar-color: var(--primary);
    --p-font-size: 19px;
    --h1-font-size: 22px;
    --h1-font-weigth: 600;
    --space-s: 4px;
    --space-m: 8px;
    --space-l: 12px;
    --site-width: 1000px
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-Light.woff2') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-Italic.woff2') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://carlisten.genanntnoelke.de/src/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', 'Roboto Condensed', sans-serif !important;
}

div.container {
    max-width: var(--site-width);
    margin: 0 auto;
    font-size: var(--p-font-size);
    color: var(--text-color);
    padding: 0 15px;
}

div.page-content {
    padding: 25px 15px;
}

div.box {
    border-radius: 5px;
    border: 1px solid #003366;
    padding: 10px 5px;
    margin: 10px 0;
}

div.box > h5,
biv.box > p {
    margin: 3px 0;
}

p {
    font-size: var(--p-font-size);
    color: var(--text-color);
    margin: 15px 0;
    line-height: 25px;
}

a {
    color: var(--link-color);
    text-decoration-line: underline;
}

a.no-decoration {
    color: var(--text-color);
    text-decoration-line: none;
}

nav {
    background-color: var(--primary);
    padding: 15px 0;
    width: 100%;
    transition: all 2s ease-in-out !important;
    transition: padding 2s;
    position: sticky;
    top: 0;
    z-index: 999;
}

div#nav-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    width: var(--site-width);
    margin: 0 auto;
    color: #e7e7e7;
}

nav > div > .links > a {
    transition: all ease-in-out 0.3s;
    color: #e8e8e8 !important;
}

footer {
    width: 100%;
    background-color: #e8e8e8;
    margin-top: auto;
}

footer > div {
    margin: 0 auto;
    width: var(--site-width);
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    padding: 25px 0;
}

div.links {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    background-color: var(--background-color-grey);
}

div#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

div#footer-content > div > p:first-of-type {
    font-weight: bold;
    color: var(--primary);
}

input, button, textarea, select {
    padding: 15px 30px;
    border: 1.5px solid var(--primary);
    border-radius: 2px;
    background-color: transparent;
    color: var(--primary);
    margin: var(--space-m) 0;
    margin-top: var(--space-s);
    line-height: 19px !important;
    font-size: var(--p-font-size);
}

button {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-close {
    cursor: pointer;
}

button.filled {
    background-color: var(--primary);
    color: #ffffff;
}

button.filled:disabled {
    background-color: rgba(0, 51, 102, 0.53);
    transition: background-color 0.4s;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}

span.input-label {
    font-size: calc(var(--p-font-size) - 2px);
    margin-bottom: 0px;
}

::placeholder {
    color: var(--primary);
    opacity: 80%;
}

:focus {
    outline: none;
}

input:invalid {
    transition: all 0.4s ease-in-out;
}

.form-floating {
    position: relative;

}

.form-floating > label {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 12px;
    background-color: white;
    padding: 3px;
    color: #919191;
    opacity: 1;
}

.input-l {
    width: 100%;
}

nav > div > .links > a:hover {
    color: white !important;
}

td, th {
    padding: 0 20px 0 0;
    text-align: left;
}

div.modal {
    display: none;
}

div.modal[data-shown="true"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-fullscreen {
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

div.modal-content {
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    min-width: 400px;
    display: flex;
    flex-flow: column;
}

div.modal-header {
    border-bottom: 1px solid #afafaf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: fit-content;
}

div.modal-header > h5, div.modal-header > button {
    margin: 0;
}

div.modal-body {
    padding: 15px;
}

div.modal-footer {
    border-top: 1px solid #afafaf;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.btn-close {
    border: none;
}

#hamburgerHide, #hamburgerShow {
    display: none;
}

@media only screen and (max-width: 1000px) {

    #hamburgerShow {
        display: block;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    nav {
        width: 100%;
    }

    #nav-bar-content {
        max-width: calc(100% - 30px)!important;
        margin: 0 auto;
        flex-flow: column;
    }

    .logo-toggle-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        z-index: 999 !important;
    }

    #nav-bar-content > .links {
        display: flex;
        /*opacity: 0;*/
        pointer-events: none;
        position: absolute;
        top: calc(-100% - 65px);
        width: 100%;
        padding: 0 15px;
        left: 0;
        flex-flow: column;
        z-index: 900 !important;
        background-color: #002244;
    }

    #nav-bar-content > .links[data-shown='true'] {
        margin: 15px 0;
        display: flex;
        top: 65px;
        transition: all 0.5s ease-in-out;
        pointer-events: unset;
    }

    #nav-bar-content > .links[data-shown='true'] > a, #hamburgerHide, #hamburgerShow {
        font-size: var(--h1-font-size);
        margin: 15px 0;
    }

}
